    <div id="indexes" class="row marketing">
        {{#repositories}}
        <div class="span4 card" {{^LogoImage}}style="padding-top:10px;"{{/LogoImage}}>
            {{#LogoImage}}
            <div class="card-media" >
                <a class="card-media-container" href="{{SITEURL}}/{{Slug}}.html" target="_blank">
                    <img src="{{LogoImage}}" alt="{{Title}}"/>
                </a>
            </div>
            {{/LogoImage}}

            <div class="card-body" {{^LogoImage}}style="margin-top:0px;"{{/LogoImage}}>
                <h2><a href="{{SITEURL}}/{{Slug}}.html" target="_blank">{{Title}}</a></h2>
                <span style="display:inline-block;padding-bottom:5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8" style="vertical-align:middle;">
                        <path d="M4 0l-1 3h-3l2.5 2-1 3 2.5-2 2.5 2-1-3 2.5-2h-3l-1-3z" />
                    </svg>
                    <strong style="vertical-align:middle;">{{StarCount}}</strong>
                </span>
                <p>{{Summary}}</p>
            </div>
        </div>
        {{/repositories}}
    </div>

    <div id="loading" class="row"></div>

    <nav id="pagination">
{{#nextpagelink}}
        <a class="next" href="{{nextpagelink}}">Next >></a>
{{/nextpagelink}}
    </nav>

    <script type="text/javascript" src="{{THEME_LINK}}/js/imagesLoaded.js"></script>
    <script type="text/javascript" src="{{THEME_LINK}}/js/masonry.js"></script>
    <script type="text/javascript" src="{{THEME_LINK}}/js/jquery.infinitescroll.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var grid = $('#indexes').masonry({
            columnWidth: '.card',
            itemSelector: '.card',
            percentPosition: true,
            transitionDuration: 10
        });
        grid.imagesLoaded().progress( function() {
            grid.masonry('layout');
        });
        grid.infinitescroll({
            loading: {
                selector: '#loading',
                finishedMsg: '<em>Feeling like adding your project? We have seats for you! Tweet <a href="https://twitter.com/stkim1">@stkim1</a> now!<em>',
                msg: $('<div id="infscr-loading" class="span12"><img alt="Loading..." src="{{THEME_LINK}}/img/default.svg"/></div>'),
            },
            navSelector: '#pagination',
            nextSelector: '#pagination a.next',
            itemSelector: '.card',
        },
        function(elem) {

            grid.masonry('appended', elem);
            grid.imagesLoaded().progress( function() {
                grid.masonry('layout');
            });
        });
    });
    </script>