    <div id="index" class="row marketing">
        {{#repositories}}
        <div class="span4 card" {{^LogoImage}}style="padding-top:10px;"{{/LogoImage}}>
            {{#LogoImage}}
            <div class="card-media" >
                <a class="card-media-container" href="{{SITEURL}}/{{Slug}}.html" >
                    <img src="{{LogoImage}}" alt="{{Title}}" />
                </a>
            </div>
            {{/LogoImage}}

            <div class="card-body" {{^LogoImage}}style="margin-top:0px;"{{/LogoImage}}>
                <h2><a href="{{SITEURL}}/{{Slug}}.html">{{Title}}</a></h2>
                <span style="display:inline-block;padding-bottom:5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8" style="vertical-align:middle;">
                        <path d="M4 0l-1 3h-3l2.5 2-1 3 2.5-2 2.5 2-1-3 2.5-2h-3l-1-3z" />
                    </svg>
                    <strong style="vertical-align:middle;">{{StarCount}}</strong>
                </span>
                <p>{{Summary}}</p>
            </div>
        </div>
        {{/repositories}}
    </div>

{{#nextpagelink}}
    <nav id="pagination">
        <a href="{{nextpagelink}}">Next >></a>
    </nav>
{{/nextpagelink}}

    <script type="text/javascript" src="{{THEME_LINK}}/js/imagesLoaded.js"></script>
    <script type="text/javascript" src="{{THEME_LINK}}/js/masonry.js"></script>
    <script type="text/javascript" src="{{THEME_LINK}}/js/jquery.infinitescroll.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var grid = $('#index');
        grid.imagesLoaded(function () {
            grid.masonry({
                columnWidth: '.card',
                itemSelector: '.card'
            });
        });
        grid.infinitescroll({
            navSelector: '#pagination',
            nextSelector: '#pagination a',
            itemSelector: '.card',
            loadingText: 'Loading...'
        },
        function(elem) {
            grid.masonry('appended', elem);
            grid.imagesLoaded(function () {
                grid.masonry({
                    columnWidth: '.card',
                    itemSelector: '.card'
                });
            });
        });

    });
    </script>